body {
    padding-top: 65px;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 20px
}

textarea {
    background-color: whiteSmoke;
    width: 600px;
    height: 400px;
    float: left;
}

div.buttons {
    float: left;
}

button[type="submit"], .btn-group {
    margin-left: 10px;
    margin-bottom: 10px;
}

button {
    width: 97px;
}

#button-dd {
    position: relative;
}

.caret {
    position: absolute;
    right: 7px;
}

.dropdown-menu {
    min-width: 95px;
}

.dropdown-menu li {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu li:hover {
    cursor: pointer;
    color: white;
    background-color: #08C;
}

.navbar .nav.pull-right {
    margin-right: 20px;
}

pre {
    border: 0;
    background-color: transparent;
}


.raw {
    font-size: 20px;
    text-decoration: none;
    color: #75715E;
    position: fixed;
    right: 32px;
    top: 65px;
}

fieldset {
    margin-top: 50px;
}

.control-group.submit {
    margin-top: 30px;
    text-align: center;
}

.help-block.error {
    color: #B94A48;
}

input[type="text"], input[type="password"] {
    background-color: #EFEFEF !important;
}

input[type="text"], input[type="password"], textarea, button {
    border-radius: 2px !important;
}

.register button[type="submit"] {
    width: 200px;
}

.container.large {
    width: 80%
}

a.user {
    padding-right: 0 !important;
}

a.logout {
    padding-top: 11px !important;
    padding-left: 10px !important;
    padding-bottom: 0 !important;
}