@(content: Html)(implicit request: play.api.mvc.Request[Any], user: Option[User])
<!doctype html>
<html>
    <head>
        <title>Paste me</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("res/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css?20130108")" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/show.css")" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("res/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand" href="@routes.Application.index">Paste</a>
                <ul class="nav pull-right">
                @user match {
                    case Some(user: User) => {
                        <li><a class="user" href="#"><strong>@user.name</strong></a></li>
                        <li><a class="logout" href="@routes.Auth.logout"><i class="icon-off"></i></a></li>

                    }
                    case None => {
                        <li @if(request.uri == "/register") { class="active" }><a href="@routes.Auth.register"><strong>Register</strong></a></li>
                        <li @if(request.uri == "/login") { class="active" }><a href="@routes.Auth.login">Login</a></li>
                    }
                }
                </ul>
            </div>
        </div>

        @content

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-36898191-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
